# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3
*.sqlite3

# Django media files
backend/media/

# Environments
.env
.venv
env/
venv/
ENV/

# IDE / Editor config
.vscode/
.idea/
.gemini/
*.log
